<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently pursuing Master's in Data Science at
      <a class="underline-link" href="https://www.sjsu.edu/" target="_blank">San Jose State University</a>. Before that I graduated from
      <a class="underline-link" href="https://jntuh.ac.in/" target="_blank">Jawaharlal Nehru Technological University, India</a> with a bachelor's
      degree in Computer Science.
    </p>

    <p>
      I am passionate about data analysis and solving complex problems. 
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I enjoy cooking, <a class="underline-link" href="https://www.cardamomtrail.com/" target="_blank">food blogging</a> and travelling.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
